body {
  font-family: 'Share Tech Mono', monospace;

  background: url("geldingadalir-volcano-toby-elliott-unsplash-photo-1628033892645-25983849cdaa.webp") no-repeat center center fixed;
  background-size: cover;

  overflow-y: hidden;

  box-sizing: border-box;
}

article {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 4rem;
  text-shadow: 0.1em 0.1em 0 black;

  margin: 0 1em;
}

.small-text {
  font-size: 2rem;
}