body {
  font-family: "Share Tech Mono", monospace;

  background: url("images/geldingadalir-volcano-toby-elliott-unsplash-photo-1628033892645-25983849cdaa.webp")
    no-repeat center center fixed;
  background-size: cover;

  overflow-y: hidden;

  box-sizing: border-box;
}
